body {
    font-family: Arial, sans-serif;
    background-color: #1e0547;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3b9664;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input,
textarea {
    width: 89%;
    padding: 10px;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
}

.radio-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.mode-toggle {
    text-align: right;
    margin-bottom: 10px;
}

.mode-toggle label {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.toggle-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
}

.toggle-label::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s;
}

